@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="header">
    <div class="card-header"><h1>Emergency Dashboard - najszybszy monitoring zdarzeń w Polsce</h1></div> 
</div>

<div class="listofagencies">
    <div class="card">
        <div class="card-header"><center><b>LiveCad</b></center></div>
        <div class="card-body">
            <p class="card-text">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Jednostka </th>
                            <th scope="col">Miasto </th>
                            <th scope="col">Status </th>
                        </tr>
        </div> </thead>
        <tbody>
            @foreach (var agency in Model.Agencies)
            {
                <tr id="@agency.Id" class="align-middle">
                    <td>@agency.Name</td>
                    <td>@agency.City</td>
                    <td><span id="teststat">test</span></td>
                </tr>
            }
        </tbody>
        </table>
   
    </div>
</div>
</div>

<div class="listofreports">
  <div class="card">
        <div class="card-header"><center><b>LiveCad</b></center></div>
        <div class="card-body">
            <p class="card-text">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Jednostka</td>
                            <td>Miasto</td>
                            <td>Adres</td>
                            <td>Typ zgłoszenia</td>
                            <td>Czas zgłoszenia</td>
                            <td>Status</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var report in Model.Reports){
                            <tr>
                                <td>@report.Name</td>
                                <td>@report.City</td>
                                <td>@report.Address</td>
                                <td>@report.Type</td>
                                <td>@report.TimeofReport</td>
                                <td><span id="testreportstate">testy</span></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </p>
        </div>
  </div></div>


@section Scripts{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/index.js"></script>
}